* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* .app {
  position: relative;
} */

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body {
  background-color: #181a25;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}
